<div class="toolList pl-0 p-0.5">
    <v-menu left :offset-x="offset" :close-on-content-click="false" v-model="menu" transition="slide-x-transition">
        <template v-slot:activator="{ on, attrs }">
            <div>
                <v-btn icon v-for="(item , index) in toolItem" class="flex" :key="index" v-on="on" v-bind="attrs"
                    v-on:click="conditionSet(item)">
                    <v-icon
                        class="w-10 h-10 p-3 m-0.5 rounded-lg bg-gray-800 border-[#243c5a] border-y-2 hover:bg-gray-500 cursor-pointer"
                        color="white" :title="item.title">{{item.icon}}</v-icon>
                </v-btn>
            </div>
        </template>
        <v-card>
            <v-list>
                <v-list-item>
                    <v-list-item-content>
                        <toolContext :title="toolItem.title" :toolIndexFocus="toolIndexFocus"
                            :toolTitleFocus="toolTitleFocus">
                            <div :slot="toolItem.title"></div>
                        </toolContext>
                    </v-list-item-content>
                    <v-list-item-action>
                        <v-btn icon>
                            <v-icon v-on:click="menu=false">mdi-close</v-icon>
                        </v-btn>
                    </v-list-item-action>
                </v-list-item>
            </v-list>
            <v-divider></v-divider>
            <v-card-text>
                <h2 class="text-h6 mb-2">
                    依繪製圖形查詢資訊
                </h2>
                <v-chip-group v-model="initFilterSet" column multiple>
                    <v-chip filter outlined>
                        點
                    </v-chip>
                    <v-chip filter outlined>
                        線
                    </v-chip>
                    <v-chip filter outlined>
                        面
                    </v-chip>
                    <v-chip filter outlined>
                        矩形
                    </v-chip>
                </v-chip-group>
            </v-card-text>

            </v-list>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn text @click="menu = false">
                    取消
                </v-btn>
                <v-btn color="primary" text @click="menu = false">
                    確定
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-menu>
</div>
</div>